<mat-toolbar class="app-toolbar">
  @if (!isCrowdView()) {
    <button mat-icon-button (click)="toggleSidebar()" class="toggle-button">
      <mat-icon>menu</mat-icon>
    </button>
  }
  <span class="toolbar-title">CrowdCue</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  @if (!isCrowdView()) {
    <mat-sidenav
      #sidenav
      [opened]="sidebarOpen()"
      mode="side"
      class="sidebar"
    >
      <mat-nav-list class="nav-list">
        <mat-list-item>
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <a matListItemTitle routerLink="/dashboard">Dashboard</a>
        </mat-list-item>

        <mat-list-item [class.nav-item-disabled]="!currentQueueId()">
          <mat-icon matListItemIcon>radio</mat-icon>
          <a
            matListItemTitle
            [routerLink]="currentQueueId() ? ['/dj-view', currentQueueId()] : null"
            [class.disabled-link]="!currentQueueId()"
            [attr.aria-disabled]="!currentQueueId()"
            [tabIndex]="currentQueueId() ? 0 : -1"
          >DJ Ansicht</a>
        </mat-list-item>

        <mat-list-item [class.nav-item-disabled]="!currentQueueId()">
          <mat-icon matListItemIcon>group</mat-icon>
          <a
            matListItemTitle
            [routerLink]="currentQueueId() ? ['/crowd-view', currentQueueId()] : null"
            [class.disabled-link]="!currentQueueId()"
            [attr.aria-disabled]="!currentQueueId()"
            [tabIndex]="currentQueueId() ? 0 : -1"
          >Crowd Ansicht</a>
        </mat-list-item>

        <mat-list-item [class.nav-item-disabled]="!currentQueueId()">
          <mat-icon matListItemIcon>qr_code</mat-icon>
          <a
            matListItemTitle
            [routerLink]="currentQueueId() ? ['/qr-code', currentQueueId()] : null"
            [class.disabled-link]="!currentQueueId()"
            [attr.aria-disabled]="!currentQueueId()"
            [tabIndex]="currentQueueId() ? 0 : -1"
          >QR-Code</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  }

  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
