<mat-toolbar class="app-toolbar">
  @if (!isCrowdView()) {
    <button mat-icon-button (click)="toggleSidebar()" class="toggle-button">
      <mat-icon>menu</mat-icon>
    </button>
  }
  <span class="toolbar-title">CrowdCue</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  @if (!isCrowdView()) {
    <mat-sidenav
      #sidenav
      [opened]="sidebarOpen()"
      mode="side"
      class="sidebar"
    >
      <mat-nav-list class="nav-list">
        <mat-list-item routerLink="/dashboard">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </mat-list-item>

        <mat-list-item
          [class.nav-item-disabled]="!currentQueueId()"
          [routerLink]="currentQueueId() ? ['/dj-view', currentQueueId()] : null"
          [attr.aria-disabled]="!currentQueueId()"
          [tabIndex]="currentQueueId() ? 0 : -1"
        >
          <mat-icon matListItemIcon>radio</mat-icon>
          <span matListItemTitle>DJ Ansicht</span>
        </mat-list-item>

        <mat-list-item
          [class.nav-item-disabled]="!currentQueueId()"
          [routerLink]="currentQueueId() ? ['/crowd-view', currentQueueId()] : null"
          [attr.aria-disabled]="!currentQueueId()"
          [tabIndex]="currentQueueId() ? 0 : -1"
        >
          <mat-icon matListItemIcon>group</mat-icon>
          <span matListItemTitle>Crowd Ansicht</span>
        </mat-list-item>

        <mat-list-item
          [class.nav-item-disabled]="!currentQueueId()"
          [routerLink]="currentQueueId() ? ['/qr-code', currentQueueId()] : null"
          [attr.aria-disabled]="!currentQueueId()"
          [tabIndex]="currentQueueId() ? 0 : -1"
        >
          <mat-icon matListItemIcon>qr_code</mat-icon>
          <span matListItemTitle>QR-Code</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  }

  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
